body, html {
    height: 100%;
    width: 100%;
}

.html {
	background-color: #f7f7f7;
}

/* The banner is going to be at the top of the screen and a purple gradient */
.banner {
    width: 100%;
    height: 25%;
    background: radial-gradient(
      circle,
      rgb(109, 0, 160) 44%,
      rgb(153, 0, 255) 86%
    );
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Placing text in the middle of the banner */
.bannerText {
    margin: 0 auto;
    font-size: 4em;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman';
}

/* The sidebar menu, this is taken from w3schools sidebar tutorial */
.sidebar {
    height: 100%;
    width: 13em; /* Set the width of the sidebar */
    background-color: #575757; /* Black */
    float: right;
    margin-top: 1em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.main {
    font-size: 1.5em;
}

.sideContent {
    margin-left: 2em;
    font-size: 1.5em;
}

.h1{
	font-family: 'Times New Roman';
}

.h2 {
    font-family: 'Times New Roman';
}

.h3 {
	font-size:1em;
	font-family: 'Times New Roman';
}

.h4 {
	font-size:1em;
	font-family: 'Times New Roman';
}

.p {
    font-family: 'Times New Roman';
}