body {
    background: #F3DE94;
    margin: 10%;
    text-align: justify;
}
p {
    font-family: 'Courier New';
    margin-top: 2em;
    margin-bottom: 2em;
}
h1 {
    text-align: center;
    font-style: 'Courier New';
    font-size: 300%;
}
h2, h3, h4, h5, h6 {
    text-align: center;
    font-style: 'Courier New';
    font-weight: bold;
    font-size: 150%;
    margin-top: 0.5em;
    margin-bottom: 0.5em
    }
img:hover {
    transform: scaleX(-1)
}
a:link {
    color: orange;
    text-decoration: none;
}
a:visited {
    color: rgb(255, 0, 255);
    text-decoration: none;
}
a:hover {
    color: red;
}